@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Red+Hat+Text:400,500,700&display=swap');

:root {
    --dark: #161616;
    --dark-hover: rgba(22,22,22,0.15);
    --light: #F5FAF0;
    --color: #A9BA97;
    --font-serif: "Abril Fatface", "Helvetica Neue", serif;
    --font-sans-serif: "Red Hat Text", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

html {
    font-size: 16px;
}

body {
    background: var(--color);
    color: var(--dark);
    font-family: var(--font-sans-serif);
    font-weight: 400;
  }

h1, h2, h3, h4 {
    font-family: var(--font-sans-serif);
    font-weight: 800;
}
  
h1 {
    font-size: 8rem;
    margin-top: 8rem;
}

h2 {
    font-size: 4rem;
    margin-top: 8rem;
    border-bottom: 2px solid var(--dark);
    padding-bottom: 0.5rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 2.5rem;
}

a, a:visited {
    display: inline-block;
    font-weight: 500;
    text-decoration: underline;
    color: var(--dark);
}

a:focus, a:hover, a:active {
    background: var(--dark);
    color: var(--color);
    transition: ease-in-out all 0.12s;
}

p {
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0 0 1rem 0;
}

strong {
    font-weight: 700;
}

.navbar {
    padding: 0;
}

.mag-navbar {
    border-bottom: 2px solid var(--dark);
    background: var(--color);
    height: 4rem;
    top: 0px;
    padding: 0;
    z-index: 999;
}

.contact-icons a {
    display: inline-block;
    margin-left: 1rem;
}

.contact-icons a:hover, .contact-icons a:active, .contact-icons a:focus {
    background: none;
}

.icon:hover path , .icons:active, .icon:focus {
    fill: var(--light);
    transition: ease-in-out all 0.12s;
}

.contact-icons svg {
    vertical-align: bottom;
}

main {
    margin-top: 4rem;
}

.divider {
    height: 1rem;
    width: 100%;
    border-top: 2px solid var(--dark);
    border-bottom: 2px solid var(--dark);
    margin: 4rem 0;
}

.project {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-right: calc(2rem - 15px);
    padding-left: calc(2rem - 15px);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-right: -2rem;
    margin-left: -2rem;
}

.project:hover, .project:focus, .project:active {
    background: var(--dark-hover);
    transition: ease-in-out all 0.12s;
}

.tags {
    color: var(--light);
    font-weight: 500;
    display: inline-block;
    margin-bottom: 1rem;
}

.me-img {
    border: 2px solid var(--dark);
    border-radius: 5px;
}

.thanks p {
    margin-top: 2rem;
}

.btn-folio {
    background: var(--dark);
    color: var(--color);
    margin-right: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0;
    text-decoration: none !important;
    font-weight: 500;
    text-transform: uppercase;
}

.btn-folio:hover, .btn-folio:focus, .btn-folio:active {
    background: var(--color);
    color: var(--dark);
    text-decoration: none;
    box-shadow: inset 2px 2px 0 0 var(--dark), inset -2px -2px 0 0 var(--dark);
}

.footer {
    margin: 4rem 0;
    border-top: 2px solid var(--dark);
    padding-top: 1rem;
}